@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f2e9e4;
  color: #003049;
  padding-bottom: 100px;
  position: relative;
}
a {
  text-decoration: none;
}
main {
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  trandform: translateX(-100%);
  transition: all 1s;
}
.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}
