header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  height: 65px;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 40px;
}
.nav_logo {
  width: 250px;
}
.nav_logo span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
}
.nav_links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 50px;
}
.nav_links li {
  padding: 2px 14px;
}
.nav_links li.selected {
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.nav_links a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}
