h6 {
  font-size: 18px;
  font-weight: 500;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 10px;
}
.services > p {
  max-width: 750px;
}
.services_cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}
.service_card {
  min-height: 300px;
  border-radius: 20px;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  padding: 20px;
  padding-top: 80px;
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.service_card > h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: 20px;
}
.service_card_icon {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -7%;
  left: 36%;
  padding: 15px;
  border-radius: 100%;
  background-color: var(--beige-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.card-blue {
  background-color: var(--light-blue-color);
}
.card-pink {
  background-color: var(--lighter-pink-color);
}
.card-yellow {
  background-color: var(--card-yellow-color);
}
.service_card_icon-4 {
  background-color: var(--text-color);
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

.service_card:nth-child(2) {
  transition-delay: 200ms;
}
.service_card:nth-child(3) {
  transition-delay: 400ms;
}
.service_card:nth-child(4) {
  transition-delay: 600ms;
}
@media (max-width: 730px) {
  h1 {
    font-size: 32px;
  }
  h6 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 870px) {
  .services_cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .service_card {
    min-height: 250px;
  }
}
@media (max-width: 540px) {
  .services_cards {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .service_card {
    min-height: 200px;
  }
}
