.timeline {
  position: relative;
  z-index: -2;
}
.timeline > h1 {
  margin-bottom: 40px;
}

.timeline_container {
  position: relative;
  padding: 10px 25px;
  width: 50%;
  animation: showContainer 1s linear forwards;
  opacity: 0;
}
.text-box > h3 {
  margin-bottom: 10px;
}
.text-box > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
@keyframes showContainer {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.timeline_container:nth-child(1) {
  animation-delay: 0s;
}
.timeline_container:nth-child(2) {
  animation-delay: 1s;
}
.timeline_container:nth-child(3) {
  animation-delay: 2s;
}
.text-box {
  padding: 20px;
  color: var(--text-color);
  background-color: var(--beige-color);
  border-radius: 20px;
  position: relative;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.timeline .icon {
  position: absolute;
  right: -10px;
  top: 32px;
  z-index: 10;
  width: 25px;
  height: 25px;
  background-color: #003049;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right-container .icon {
  left: -14px;
}
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background-color: #fefae0;
  margin-left: -2.5px;
  z-index: -1;
  animation: showLine 4s linear forwards;
}
@keyframes showLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.left-container-arrow {
  position: absolute;
  top: 38px;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #fefae0;
  border-bottom: 15px solid transparent;
  transform: translateY(-50%);
  z-index: 1;
}
.right-container-arrow {
  position: absolute;
  top: 38px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #fefae0;
  border-bottom: 15px solid transparent;
  transform: translateY(-50%);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }
  .timeline_container {
    width: 100%;
    /* padding-left: 80px;
    padding-right: 25px; */
  }
  .timeline::after {
    left: 0;
  }
  .right-container {
    left: 0;
  }
  .timeline .icon {
    left: -12px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 20px solid #003049;
    border-left: 0;
    left: -20px;
  }
}
