.tools {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
  column-gap: 20px;
  row-gap: 40px;
  justify-content: space-around;
}
.skills > h1 {
  margin-bottom: 30px;
}
h1 > span {
  color: var(--dark-pink-color);
}
.tool {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 7px 7px 10px #84a59d;
  border-top: 2px solid var(--text-color);
  border-left: 2px solid var(--text-color);
  cursor: pointer;
}
.tool img {
  height: 90px;
  width: 90px;
}
.tool:nth-child(2) {
  transition-delay: 200ms;
}
.tool:nth-child(3) {
  transition-delay: 400ms;
}
.tool:nth-child(4) {
  transition-delay: 600ms;
}
.tool:nth-child(5) {
  transition-delay: 800ms;
}
.tool:nth-child(6) {
  transition-delay: 1000ms;
}
.tool:nth-child(7) {
  transition-delay: 1200ms;
}
.tool:nth-child(8) {
  transition-delay: 1400ms;
}
.tool:nth-child(9) {
  transition-delay: 1600ms;
}
.tool:nth-child(10) {
  transition-delay: 1800ms;
}
.tool:nth-child(11) {
  transition-delay: 2000ms;
}
.tool:nth-child(12) {
  transition-delay: 2200ms;
}
